VHOSTS_DIR=./config/vhosts
APACHE_LOG_DIR=./logs/apache2
PHP_INI=./config/php/php.ini
MYSQL_DATA_DIR=./data/mysql
MYSQL_LOG_DIR=./logs/mysql
DOCUMENT_ROOT=~/projects/dDev/apps/myproject/
PORT80=8089
PORT443=8443
PORTPHPADMNIN80=8090